*{
  margin: 0;
  padding: 0;
}
/* .App{
  display: flex;
  flex-direction: column;
} */
/* .App{
  display: grid;
  grid-template-rows: auto 1fr auto;

} */
.App{
  max-width: 1320px;
  align-items: center;
  margin: auto;
  background-color: rgb(247,247,247,255);
}